h1 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
    background: linear-gradient(90deg, #004080, #00bfff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
body {
    background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.4)),
                url('/static/images/background2.png');
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

form {
    margin-bottom: 20px;
}

.forecast-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}

#forecast {
    margin-top: 20px;
}

#forecastContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chart-container {
    padding: 10px;
    background: #fafafa;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 100%;
    margin-bottom: 20px;
}

.chart-container canvas {
    width: 100%;
    max-width: 600px;
}
.day-container {
    border: 2px solid #ddd;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-bottom: 20px;
}

.forecast-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
}

.forecast-table th, .forecast-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.forecast-table th {
    background-color: #004080;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
}
.forecast-table tr:hover {
    background-color: #f1f1f1;
}
.date-heading {
    text-align: center;
    font-size: 1.2em;
    margin: 10px 0;
    color: #004080;
    margin-bottom: 10px;
}
.date-heading:hover {
    color: #004080;
    text-decoration: underline;
    cursor: pointer;
    transition: color 0.3s ease;
}
button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 1em;
    background-color: #004080;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0066cc;
}
.temperature-fahrenheit {
    background: linear-gradient(90deg, #001f40, #0558ef);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}